<h1>Listing huns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @huns.each do |hun| %>
      <tr>
        <td><%= hun.name %></td>
        <td><%= link_to 'Show', hun %></td>
        <td><%= link_to 'Edit', edit_hun_path(hun) %></td>
        <td><%= link_to 'Destroy', hun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hun', new_hun_path %>
